#con_preguntas {
    position: absolute;
    top: 48.5%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-image: url(../img/Recuadro_Preguntas.png);
    background-size: 94%;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 97%;
    display: none;
}

.Op_res {
    background-image: url(../assets/Res_Fondo.png);
    background-position: center;
    padding-top: 15%;
    margin-top: -10%;
    height: 60px;
    width: 100%;
    font-size: 100%;
    text-align: center;
    color: #503D00;
    display: inline-block;
    cursor: pointer;
    
}

.Op_pre {
    font-size: 30px;
    color: #503D00;
    display: inline-block;
    margin-bottom: 2%;
    width: 100%;
    height: 20%;
    text-align: justify;
    margin-top: 20%;
    margin-bottom: 20%;
    text-shadow: 1px 1px 2px #000;
}

#barra-vida {
    background-color: red;
    height: 20px;
    width: 200px;
    margin-top: 39%;
    margin-left: 4%;
    position: absolute;
    display: none;
}

#barra-vidaE {
    background-color: red;
    height: 20px;
    width: 200px;
    margin-top: 4%;
    margin-left: 47%;
    position: absolute;
    display: none;
}